<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} titulo {% endblock %}</title>
    {% block css_files %}{% endblock  %}
</head>
<body>
    <p style='color: red'>{% block errorblock1 %}{% endblock  %}</p>
    <form method="POST" class="content-block">
        {% csrf_token %}
        <div class="nome{% if form.nome.errors %} error{% endif %}">
            <label for="name-input">{% block nome %}{% endblock  %}</label>
            <input type="text" class="name-input" name="nome"><br>
            {% block nome_error %}{% endblock  %}
        </div>
        <div class="senha{% if form.nome.errors %} error {% endif %}">
            <label for="senha-input">{% block senha %}{% endblock  %}</label>
            <input type="password" class="senha-input" name="senha"><br>
            {% block senha_error %}{% endblock senha_error %}
            
        </div>
        <div class="entrar">
            <button class="submit-btn">{% block submit %}{% endblock  %}</button>
            <p class="texto-rodape">{% block texto_rodape %}{% endblock  %} <a href="{% block link_rodape %}{% endblock  %}" class="texto-link"> {% block texto_link %}{% endblock  %} </a></p>
        </div>
    </form>
</body>
</html>