{% extends 'cadastro\body.html' %}
{% load static %}

{% block css_files %}<link rel="stylesheet" href="{% static 'cadastro/bodyStyles.css' %}">{% endblock  %}



{% block titulo %} Cadastro {% endblock  %}
{% block nome %}Nome{% endblock  %}
{% block nome_error %}{{ form.nome.errors }}{% endblock  %}
{% block senha %}Senha{% endblock  %}
{% block senha_error %}{{ form.senha.errors }}{% endblock  %}
{% block submit %}Continuar{% endblock  %}
{% block texto_rodape %}Já tem uma conta?{% endblock  %}
{% block link_rodape %}{% url 'login' %}{% endblock  %}
{% block texto_link %}Acesse aqui{% endblock  %}
